# docker.rc
DOCKER_RC_FILE="${BASH_SOURCE##*/}"
DOCKERFILESDIR=$([ -n "${BASH_SOURCE%/*}" ] && cd "${BASH_SOURCE%/*}" 2>/dev/null; pwd)
DOCKER_BIN_DIR="${DOCKERFILESDIR}/_docker-bin"

if [ -d "$DOCKER_BIN_DIR" ]
then
  echo "$PATH" |
  grep -E '^(.+:|)'"${DOCKERFILESDIR}/_docker-bin"'(:.+|)$' || {
    PATH="${PATH}:${DOCKERFILESDIR}/_docker-bin"
    export PATH
  }
fi 1>/dev/null 2>&1

# DOCKER Host
[ -z "${DOCKER_HOST}" ] &&
[ -w "/var/run/docker.sock" ] &&
DOCKER_HOST="unix:///var/run/docker.sock"
[ -z "${DOCKER_HOST}" ] &&
[ -x "$(type -P docker-machine)" ] &&
eval $(docker-machine env) 1>/dev/null 2>&1
[ -z "${DOCKER_HOST}" ] &&
DOCKER_HOST="${DOCKER_HOST:-tcp://127.0.0.1:4243}"
[ -n "${DOCKER_HOST}" ] &&
export DOCKER_HOST

# Functions
for func in "${DOCKER_BIN_DIR}"/functions/*
do
  . "${func}"
done 1>/dev/null 2>&1
unset func

# Aliases
alias docker-rc-reload=". ${DOCKERFILESDIR}/${DOCKER_RC_FILE} && echo OK"

alias docker-make="MAKE.sh --build-only"
alias docker-make-boot="MAKE.sh"
alias docker-make-rebuild="MAKE.sh --build-only --rebuild"
alias docker-make-clean="MAKE.sh --clean"

alias docker-clean=docker-cleanup

# end
return 0
