# Systemd unit file for tomcat

[Unit]
Description=Apache Tomcat Web Application Container
After=syslog.target network.target

[Service]
Type=simple

# Exec Start,Stop,etc...
ExecStart=/bin/su - ${TOMCAT_USER} -c "${TCHOME}/bin/startup.sh"
ExecStop=/bin/su - ${TOMCAT_USER} -c "${PGHOME}/bin/shutdown.sh"

# Environment File
EnvironmentFile=/etc/sysconfig/tomcat

# Kill mode
KillMode=process

# Give a reasonable amount of time for the server to start up/shut down
TimeoutSec=180

[Install]
WantedBy=multi-user.target

