# Systemd unit file for tomcat-cleanup-logs.service

[Unit]
Description=Tomcat Cleanup logs

[Service]
Type=simple

# Exec Start,Stop,etc...
ExecStart=/bin/bash ${TOMCAT_HOME}/bin/catalina-cleanup-logs.sh 3 7

# Environment File
EnvironmentFile=/etc/sysconfig/tomcat

