# Systemd unit file for tomcat instances.
#
# To create clones of this service:
# 0. systemctl enable tomcat@name.service
# 1. create catalina.base directory structure in
#    $TOMCAT_HOME/instances
# 2. profit.

[Unit]
Description=Apache Tomcat Web Application Container
After=syslog.target network.target

[Service]
Type=simple

# Inctance name
Environment="INSTANCENAME=%I"

# Exec Start,Stop,etc...
ExecStart=/bin/su -m ${TOMCAT_USER} -c "cd $CATALINA_BASE && ./bin/catalina.sh run"
ExecStop=/bin/su -m ${TOMCAT_USER} -c "cd $CATALINA_BASE && ./bin/catalina.sh stop"

# Environment File
EnvironmentFile=/etc/sysconfig/tomcat
EnvironmentFile=-/etc/sysconfig/tomcat@%I

# Kill mode
KillMode=process

# Give a reasonable amount of time for the server to start up/shut down
TimeoutSec=90

# Restart options
#Restart=always
#RestartSec=32

[Install]
WantedBy=multi-user.target

