# node-red.service

[Unit]
Description=Node-RED Server
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/node-red $NODERED_OPTIONS
ExecStop=/bin/kill -INT $MAINPID
EnvironmentFile=/etc/sysconfig/node-red
WorkingDirectory=/home/node-red
User=node-red
Group=node-red
KillMode=process
Restart=always
RestartSec=32

[Install]
WantedBy=multi-user.target

