# docker-pg.rc

# PostgreSQL Install Source
PGSQL_VER=9.4.6
PGSQLBASE="postgresql-${PGSQL_VER}"
PGSQL_SRC="https://ftp.postgresql.org/pub/source/v${PGSQL_VER}/${PGSQLBASE}.tar.gz"

# pgTap Install source
PGTAP_VER=0.96.0
PGTAPBASE="pgtap-${PGTAP_VER}"
PGTAP_SRC="http://api.pgxn.org/dist/pgtap/${PGTAP_VER}/${PGTAPBASE}.zip"

# PostgreSQL envs
PGHOME=/opt/postgresql
PGDATA=${PGHOME}/data
PGUSER=postgres
PG_UID=
PGPORT=5480

# TARGET DATABASE(s)
PGDATABASES=""

# BUILD
PGSQLMAKECMD="
./configure --prefix=${PGHOME}-${PGSQL_VER} &&
make && make install &&
cd ./contrib &&
make && make install
"

# INITDB
PGSQL_INITDB="LANG= ${PGHOME}/bin/initdb -E UTF-8 --locale=C ${PGDATA}"

